<nav class="navbar sticky-top navbar-expand-lg" style="background-color: 	rgb(0, 102, 0);">
  <div class="container-fluid">
    <p class="my-2">@Html.ActionLink("Home", "Index", "Home", null, new { @class ="navbar-brand text-light"})</p>  
    <div class="navbar-collapse d-flex justify-content-end">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-2">
        <li class="nav-item">
          <p>@Html.ActionLink("Login", "Login", "Users", null, new { @class ="text-decoration-none text-light mx-2"})</p>
        </li>
        <li class="nav-item">
          <p>@Html.ActionLink("Register", "Register", "Users", null, new { @class ="text-decoration-none text-light mx-2"})</p>
        </li>
        <li>
          <p>@Html.ActionLink("Account", "Index", "Users", null, new { @class ="text-decoration-none text-light mx-2"}) </p>
          @*link to account index (users homepage)*@
        </li>
      </ul>
    </div>
  </div>
</nav>
