@* <body>

  <!-- A div with container id to hold the card -->
  <div id="container">

    <!-- A div with card class for the card  -->
    <div class="card">
      <img src="css/assets/img/forest-category.png" alt="Fantastic Forest Finder" class="forestCard">

      <!-- A div with card__details class to hold the details in the card  -->
      <div class="card__details">

        <!-- Span with tag class for the tag -->
        <span class="tag">Forest</span>

        <!-- A div with name class for the name of the card -->
        <div class="name">Fantastic Forest Finder</div>

        <p>You have found every item in forest. You're a Fantastic Finder!</p>

        
      </div>


    </div>
  </div>

</body> *@