@{
    Layout = "_Layout";
}
<head> <link rel="stylesheet" href="~/css/homepage.css"> </head>

<div class="homepgtitlediv">
    <h1 class="homepgtitle">Welcome to Your Botanical Adventure</h1>
</div>

<div class="mascot"><img src="~/img/botanist.png" style="width: 15em; height:25em;">
</div>

<div class="mascot2"><img src="~/img/fairy_critter_tran.png" style="width: 15em; height:15em;">
</div>

<div class="homeimg">
</div>

<div class="links"><
    <div class="text-center">
        <div class="row">
            <div class="col-4">
                <p class="homebtn">@Html.ActionLink("Register", "Register", "Users")</p>
            </div>
            <div class="col-4">
                <p class="homebtn">@Html.ActionLink("Log In", "Login", "Users")</p>
            </div>
            <div class="col-4">
                <p class="homebtn">@Html.ActionLink("Instructions", "Instructions", new{@class = "link"})</p>
            </div>
        </div>
    </div>
</div>
