@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Botanical Adventure</h1>
</div>

<div class="text-center">
    <h3 class="display-4">@Html.ActionLink("Register", "Register", "Users")</h3>
    <h3 class="display-4">@Html.ActionLink("Log In", "Login", "Users")</h3>
    <h3 class="display-4">@Html.ActionLink("Instructions", "Instructions")</h3>
</div>
