@{
  Layout = "_Layout";
} 

@model ForageMvc.Models.Item
@using System;
@using System.Web;


<h3>@Model.Name</h3>
<h4>@Model.Found</h4>

@using (Html.BeginForm())
{
  @Html.Label("Found")
  @Html.EditorFor(model => model.Found)
}

