body {
  background-image: url("../img/home_index.webp");
  background-size: cover;
}

.loginbtn {
  --glow-color: rgb(190, 255, 176);
  --glow-spread-color: rgba(28, 170, 47, 0.781);
  --enhanced-glow-color: rgb(40, 161, 52);
  --btn-color: rgb(8, 109, 37);
  border: .25em solid var(--glow-color);
  padding: 1em 1em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  width: 200px;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: absolute;
  transition: all 0.3s;
  bottom: 45%;
  margin: -5%;
 }
 
 .loginbtn::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 50%;
  width: 50%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 .loginbtn:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 2em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 .loginbtn:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }

 a:link {
  text-decoration: none;
  color: #f0ead6;
 }
 a:visited {
  color: black;
  text-decoration: none;
 }
 a:active {
  color: #f0ead6;
  text-decoration: none;
 }

 form {
  align-content: center;
 }

 .email{
  margin-left: 40%;
  background-color: white;
  align-content: center;
  bottom: 40%;
  color: black;
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
  font-style: bold;
  padding: 2px;
  border-radius: 1em;
  text-align: center;
 }

 .password {
  margin-left: 40%;
  color: black;
  background-color: white;
  align-content: center;
  bottom: 40%;
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
  font-style: bold;
  padding: 2px;
  border-radius: 1em;
  text-align: center;
 }

 .logininstr {
  color: black;
  background-color: white;
  width: 700px;
  outline: green;
  text-align: center;
  border-radius: 1em;
  padding: 0.5em 0.5em; 
  align-content: center;
  position: absolute;
  top: 20%;
  margin-left: 30%;
  opacity: .80;
 }

 form {
  margin-top: 14%;
 }

 .mascot {
  align-content: center;
  position: absolute;
  top: 20%;
  margin-left: 23%;
}